{% extends 'base2.html.twig' %}


{% block title %}Palace Canin | Conditions Générales{% endblock %}

{% block body %}

    <div class="container">

        <h1 class="titre-condition">Conditions Générales</h1>
        <div class="barre-termes"></div>

        <p class="text-condition-generale">

            La totalité du contenu qui figure sur les pages du présent Site Web est protégée par les lois sur le droit d’auteur en vigueur au Royaume-Uni,
            aux États-Unis et dans d’autres pays. Certains noms, mots, titres, expressions, logos, icônes, images ou dessins présents dans les pages de ce
            Site sont susceptibles de constituer des noms commerciaux ou des marques de commerce ou de service du Lutetia ou ses filiales, qui peuvent
            avoir été autorisées à les exploiter. La présence de noms commerciaux ou de marques de commerce ou de service dans les pages du présent
            Site n’implique nullement qu’une licence de quelque sorte que ce soit ait été concédée à un tiers. Vous êtes libre de télécharger les éléments
            figurant dans le présent Site à des fins non commerciales en vue de les conserver temporairement sur un unique ordinateur et de les imprimer
            exclusivement pour votre propre usage personnel. Vous acceptez le principe selon lequel vous n’acquérez aucun droit de propriété à l’égard des
            contenus téléchargés. Il vous est interdit de diffuser des copies d’éléments issus du présent Site à quelque fin que ce soit ainsi que de les
            « framer » sur un Site créé ou exploité par vous. Vous acceptez de vous conformer à l’ensemble des restrictions, informations et avis de droit
            d’auteur intégrés aux éléments du présent Site.

        </p>

        <p class="text-condition-generale">

            Le téléchargement, la transmission, la republication, la copie et la modification non autorisés d’éléments publiés sur le présent Site, y compris
            de noms commerciaux ou de marques de commerce ou de service, sont susceptibles d’enfreindre la législation fédérale, civile ou la common
            law portant sur les marques de commerce ou le droit d’auteur et peuvent entraîner des poursuites judiciaires.
        </p>

        <span class="text-condition-generale">

The Set Hotels se réserve le droit d’intenter une action en justice en cas d’usage non autorisé des noms commerciaux, des marques de
commerce et des images du Lutetia et ses filiales figurant sur le présent Site.

        </span>

        <span class="text-condition-generale">

Exonération de garanties
Le Lutetia a rassemblé les informations du présent Site en vue de leur utilisation par les clients, clients potentiels et professionnels du tourisme.
Les informations, les éléments et les algorithmes logiciels contenus dans le présent Site ou téléchargeables à partir du présent Site, y compris
les textes, les images et les hyperliens, sont fournis « en l’état » et « tels que disponibles ».

        </span>

        <p class="text-condition-generale">

            Les informations et les éléments qui figurent dans le présent Site sont supposés véridiques et exhaustifs au moment de leur publication. Bien
            que le Lutetia veille à ce qu’ils restent exacts et à jour, les informations et les éléments du Site sont susceptibles d’évoluer sans préavis et The
            Set ne garantit en rien leur véracité, leur exhaustivité et leur fiabilité constantes.

        </p>

        <span class="text-condition-generale">

De surcroît, le Lutetia ne garantit pas l’exactitude, l’adéquation et l’exhaustivité des algorithmes logiciels et décline expressément toute
responsabilité quant aux erreurs ou omissions au sein desdits algorithmes.

        </span>

        <p class="text-condition-generale">

            Aucune garantie de quelque sorte que ce soit, implicite, expresse ou légale, y compris, sans s’y limiter, une garantie de non-violation de droits
            de propriété intellectuelle ou de droits de tiers, de titre, d’absence de vices cachés, d’absence d’interruption de service, de qualité marchande,
            d’adéquation à un usage particulier et d’absence de virus informatiques, n’est accordée en rapport avec de quelconques informations, éléments
            et algorithmes logiciels.

        </p>

        <p class="text-condition-generale">

            Exclusion de responsabilité
            En aucun cas le Lutetia n’assumera une quelconque responsabilité s’agissant des dommages subis, y compris, sans s’y limiter, des dommages
            directs ou indirects, particuliers, accessoires, moraux ou consécutifs, des manques à gagner et des pertes de chance et d’informations, ni des
            charges financières associées au présent Site Web, des algorithmes logiciels disponibles sur le présent Site, des sites Internet dont un hyperlien
            figure sur le présent Site, ni de l’usage ou de l’impossibilité d’utiliser ces éléments, algorithmes logiciels ou sites dont un hyperlien est présent
            sur notre Site ayant pour cause une interruption, un défaut, un retard de traitement ou de transmission, un virus informatique ou encore une
            panne au niveau de la ligne de communication ou du système, ce, y compris si le Lutetia a été avisé de la possibilité de tels dommages, pertes
            ou charges. L’usage des algorithmes logiciels mis à disposition et des hyperliens pointant vers des ressources Internet tierces s’effectue à vos
            risques et périls. Le contenu, l’exactitude, les opinions exprimées ainsi que les liens fournis par lesdits algorithmes logiciels et ressources ne font
            l’objet d’aucune enquête, vérification, surveillance ou approbation de la part du Lutetia.

        </p>

        <span class="text-condition-generale">

Liens vers des sites Internet tiers
Le Lutetia ne détient aucun contrôle sur les sites Internet de tierces parties et ne saurait par conséquent assumer une quelconque
responsabilité quant au contenu des sites Web dont un hyperlien figure sur notre Site, ni quant aux liens présents sur ces derniers. Le Lutetia
fournit ces liens uniquement pour des raisons de commodité, et leur intégration n’implique en rien une approbation, une enquête ou une
vérification, par le Lutetia, des sites correspondants ni des informations que ces derniers renferment.

        </span>

        <span class="text-condition-generale">

Animaux de compagnie
Un seul animal de compagnie pesant moins de douze (12) kilogrammes est admis, avec un coût supplémentaire de 50€ par nuit, sous réserve
qu’il soit tenu en laisse ou porté dans une cage de transport au niveau des parties communes. Néanmoins, pour des raisons d’hygiène, les
animaux ne sont pas autorisés dans les zones de consommation de rafraîchissements aux heures de pointe (petit-déjeuner et apéritif du soir). Le
Client est responsable des dommages causés par son animal de compagnie, notamment au personnel et aux équipements de l’hôtel, ainsi
qu’aux autres clients et plus généralement à tout tiers. Les clients sont informés du fait que le personnel n’assurera pas le ménage dans les
chambres en présence d’animaux de compagnie.

        </span>

        <p class="text-condition-generale">

            Interdiction des usages illégaux ou prohibés
            Vous garantissez au Lutetia que vous n’utiliserez pas le présent Site à une quelconque fin illégale ou prohibée en vertu des présentes conditions
            générales et des avis. Bien qu’il puisse de temps à autre surveiller ou examiner les discussions, conversations, publications, transmissions,
            affichages électroniques et autres éléments de la sorte figurant sur le présent Site, le Lutetia n’a aucune obligation d’agir en ce sens et
            n’assumera aucune responsabilité quant à de tels contenus ni quant aux erreurs, imprécisions, omissions, diffamations, calomnies, injures,
            mensonges, obscénités, vulgarités ou éléments pornographiques ou dangereux contenus dans une quelconque information publiée en de tels
            endroits du Site. Il vous est interdit de publier et de transmettre des contenus illégaux, menaçants, calomnieux, diffamatoires, obscènes,
            scandaleux, incendiaires, pornographiques ou vulgaires, ainsi que des contenus susceptibles de constituer ou d’encourager un comportement
            qui serait considéré comme une infraction pénale, qui engagerait la responsabilité civile ou qui enfreindrait d’une quelconque autre manière la
            loi. Le Lutetia coopérera pleinement avec les autorités chargées de l’application de la loi et exécutera les décisions de justice lui ordonnant de
            divulguer l’identité de toute personne ayant publié de telles informations ou de tels contenus.

        </p>

    </div>


    </html>

{% endblock %}
