{% extends 'base2.html.twig' %}


{% block title %}Palace Canin | Politique et Confidentialité{% endblock %}

{% block body %}

    <div class="container">
        <p class="titre-politique">POLITIQUE DE CONFIDENTIALITÉ</p>

        <div class="barre-politique"></div>

        <h3 class="sommaire">Sommaire</h3>

        <ol>
            <li>Champs d'application</li>
            <li>A propos de Canin Palace</li>
            <li>Traitement des données à caractère personnel</li>
            <li>Les catégories de données personnelles que nous collectons </li>
            <li>Les finalités des traitements </li>
            <li>Les finalités de traitements et bases légales </li>
            <li>Partage d’informations </li>
            <li>Cookies </li>
            <li>Personnes mineures </li>
            <li>Transferts de données </li>
            <li>Sécurité des données </li>
            <li>Sites et fonctionnalités tiers </li>
            <li>Conservation des données collectées </li>
            <li>Vos droits </li>
            <li>Contacts - Coordonnées de notre Délégué à la Protection des Données (DPO) </li>
        </ol>

        <ol>
            <li class="or-titre class="or-titre"">Champs d'application</li>
            <p>La présente Charte s’applique à tous les traitements de données mis en œuvre dans les établissements, filiales ou managés, de la société Groupe Lucien Barrière et de la Société Fermière du Casino Municipal de Cannes (SFCMC), et exploités sous la marque Barrière. La liste des établissements est régulièrement mise à jour sur nos sites internet.
            </p>
            <li class="or-titre">A propos de Canin Palace</li>
            <p class="text-titre">Le responsable de traitement, Groupe Lucien Barrière, est une société dont le siège social est situé sis 33, rue d’Artois 75008 Paris, enregistrée au Registre du Commerce de Paris sous le numéro 320 050 859.
                Le responsable de traitement, Société Fermière du Casino Municipal de Cannes, est une société dont le siège social est situé sis et 1 Espace Lucien Barrière 06400 CANNES, enregistrée au Registre du Commerce de Cannes sous le numéro 695 720 284.
                Groupe Lucien Barrière et Société Fermière du Casino Municipal de Cannes, leurs filiales ou sociétés managées, sont ensemble ci-après dénommées « Barrière » ou « nous ».
                Parce que Barrière est une société à l’écoute des besoins de ses clients dans le respect des textes réglementaires et légaux, Barrière a mis en place une politique de confidentialité applicable aux données à caractère personnel collectées dans le cadre de ses activités de casino, hôtels, restauration, spectacles et activités de loisirs, tels que spa, tennis, golf, thalassothérapie, club enfant ... (ci-après les « Services »).
                La présente Politique couvre les collectes de données en ligne et hors ligne, notamment les informations que nous collectons par l’intermédiaire de nos sites internet et de nos applications, ainsi que nos programmes et évènements dans nos établissements.
                Il se peut que vous accédiez aux sites internet à partir d’un ordinateur ou d’un appareil mobile (à partir d’une application sur un smartphone ou tablette, par exemple). Cette politique détaille la manière dont les informations recueillies via nos sites internet ou dans nos établissements sont utilisées et protégées.
                Nous vous recommandons de consulter régulièrement la présente Politique car nous l’actualisons et la modifions régulièrement. Nous essayons de vous tenir informé de tout changement effectué.</p>

            <li class="or-titre">Traitement des données à caractère personnel</li>
            <p class="text-titre">Est une donnée personnelle toute information collectée et enregistrée dans un format qui permet de vous identifier personnellement, soit directement, soit indirectement, en qualité d’individu.
                La fourniture des informations signalées par un astérisque sur les formulaires de collecte de données est obligatoire et nécessaire à la prise en compte de votre demande afin de vous apporter la réponse ou le service demandé.
                En plus de ces informations, nous recueillons, par ailleurs, des informations que vous acceptez de nous communiquer ou que nous recueillons dans notre intérêt légitime ou dans le cadre de nos obligations légales.
                Ci-après vous trouverez un aperçu général :
                Des catégories de données personnelles que nous utilisons et conservons sur vous (ou que des tiers sous-traitants, agissant pour notre compte ont collecté – pour plus d’information sur les sous-traitants agissant pour notre compte, voir ci-dessous, article 7);
                Des finalités pour lesquelles ces informations seront collectées ;
                Des bases légales applicables au traitement de données.</p>
            <li class="or-titre">Les catégories de données personnelles que nous collectons </li>
            <p class="text-titre">Dans le cadre de nos Services, nous sommes amenés à collecter, directement auprès de vous ou via nos outils dans nos établissements ou sur les sites internet les catégories de données personnelles suivantes :
                Votre identité, état civil et données de contact,
                Des informations sur vos consommations, préférences, loisirs, centres d’intérêt, votre foyer, etc.
                Des informations sur votre carte bancaire (à des fins de transaction et de réservation),
                Des informations sur votre navigation via nos cookies et technologies similaires utilisées sur nos sites internet, Vos réponses aux enquêtes ou études de marché
                Votre image et voix (dans le cadre de la surveillance de nos établissements).</p>

            <li class="or-titre">Les finalités des traitements </li>
            <p class="text-titre">Nous traitons vos données personnelles pour différentes raisons, principalement pour :
                gérer les transactions dans nos établissements, les réservations et les Services d’une manière générale,
                gérer votre séjour et votre visite dans nos établissements, tels que suivi de vos consommations (téléphone, bar, ...), gestion des accès aux chambres, gérer l’envoi d’offres commerciales et marketing, les jeux-concours, cibler les offres en fonction de vos préférences
                procéder à des recoupements ou enrichissements, analyses et combinaisons de vos données collectées à l’occasion de la réservation ou de votre séjour, afin de préciser vos centres d’intérêts, votre profil client et nous permettre de vous adresser des offres personnalisées,
                gérer nos programmes de fidélité,
                réaliser des enquêtes de satisfaction, des études et statistiques,
                améliorer nos services en prenant en compte l’ensemble des commentaires que vous laisseriez à l’occasion de votre séjour ou visite dans nos établissements,
                respecter nos obligations de vigilance vis-à-vis de nos clients et des organismes publics (interdits de jeux par exemple),
                gérer vos demandes d’exercice des droits,
                personnaliser et optimiser le confort d’utilisation de nos sites internet,
                gérer les réclamations et litiges,
                gestion interne de liste de clients ayant eu un comportement inapproprié lors de leur séjour dans nos établissements ou ayant une restriction d’accès (agressions, dégradations, tricherie ...),
                assurer la surveillance de nos établissements, la sécurité des biens et des personnes, la régularité des jeux et enfin la lutte contre la fraude.</p>

            <li class="or-titre">Les finalités de traitements et bases légales </li>
            <p class="text-titre">En plus des cas où vous consentez expressément au traitement de vos données (envoi de messages marketing par exemple) ou des cas où le traitement de vos données est nécessaire pour que nous puissions respecter nos obligations légales (telles que obligation de vigilance, lutte contre la fraude), les traitements de données peuvent être nécessaires pour assurer l’exécution du contrat entre nous ou encore pour la satisfaction de notre intérêt légitime. En effet, il est de notre intérêt légitime de pouvoir gérer les réclamations et plaintes afin d’assurer notre défense, de pouvoir personnaliser et optimiser nos offres et sites internet afin d’améliorer ceux-ci, et d’assurer la surveillance de nos établissements, la sécurité et la régularité des jeux dans les casinos.</p>
            <li class="or-titre">Partage d’informations </li>
            <p class="text-titre">Dans le cadre unique de pouvoir vous donner toute satisfaction dans l’utilisation de nos Services, nous sommes amenés à communiquer vos données personnelles à des personnes internes et externes.
                Destinataire internes :
                Il s’agit ici de tout le personnel interne amené à intervenir pour vous permettre de bénéficier des Services de nos établissements : personnel des guichets/réceptions d’accueil des clients, le personnel des services supports, tels que le service informatique, les services marketing, le service juridique.
                Destinataires externes :
                Il s’agit ici des sous-traitants, prestataires ou banques. La transmission des informations a pour seule finalité la parfaite exécution par Barrière des Services que vous avez sollicités et la recherche exclusive de votre satisfaction.
                Les autorités administratives et judiciaires, locales ou nationales pourraient également solliciter la communication de vos données personnelles dans la mesure où la loi l’exigerait. Ce type de divulgation peut être exigé dans le cadre de tout procès, requête ou enquête, demande gouvernementale, ordonnance juridique, exécution de droits légaux (par exemple, termes contractuels, droits de propriété intellectuelle, etc.), question relative à la lutte contre le blanchiment de capitaux, question de sécurité ou autre problématique juridique ou sécuritaire similaire. Partager vos informations dans ce cadre n’est pas un évènement régulier, mais peut survenir à tout moment. Nous ferons en sorte de limiter les types et volumes d’information que nous pouvons avoir à partager à des fins juridiques à ce qui est raisonnablement nécessaire et ferons en sorte que tout transfert hors de l’Union européenne soit effectué sur une base juridique adaptée.
                Nous pouvons partager (ou recevoir) des informations à votre sujet, notamment vos coordonnées personnelles, dans l’hypothèse de toute cession, acquisition, fusion, restructuration, faillite ou autre circonstance similaire impliquant Barrière. Dans l’hypothèse d’un tel évènement, nous prendrons les mesures raisonnables aux fins d’exiger que vos informations soient traitées conformément à la présente Politique, sauf s’il est impossible ou interdit de procéder ainsi, et ferons en sorte que tout transfert hors de l’Union européenne soit effectué sur une base juridique adaptée.</p>

            <li class="or-titre">Cookies </li>
            <p class="text-titre">Nous utilisons des cookies sur certains de nos sites Internet. Pour plus d’information, voir la politique dédiée dans les mentions légales des sites internet.</p>

            <li class="or-titre">Personnes mineures </li>
            <p class="text-titre">Dans le cadre de nos Services de casinos et jeux, nous ne collectons que des données personnelles de personnes majeures. Nous vous remercions de nous contacter à l'adresse ci-dessous si vous pensez que nous traitons des données de mineurs afin que nous puissions les effacer, le cas échéant.
                Nous pouvons collecter des données personnelles de personnes mineures pour des Services autres que les Services de casinos et jeux, dans la mesure où elles ont été communiquées par un représentant légal de ces mineurs, soit pour gérer les réservations, soit pour fournir des services spécifiques à ces mineurs (club enfants, activités...) ou pour répondre à une demande particulière de votre part. En nous communiquant des données personnelles sur un mineur, vous garantissez à Barrière être une personne majeure, parent ou représentant légal de ce mineur.</p>

            <li class="or-titre">Transferts de données </li>
            <p class="text-titre">Lorsque le traitement de vos données implique un transfert hors de l’Union européenne, ces transferts sont effectués en contrepartie de garanties appropriées. Lorsque le partage de ces informations implique un transfert vers les Etats-Unis, ledit transfert est effectué sur la base de la certification du Privacy Shield ou sur la base des clauses contractuelles types de l'Union Européenne.
                Pour les besoins d'une réservation, les transferts vers nos établissements situés en dehors de l'Union européenne sont effectués sur la base des clauses contractuelles types établies par la Commission européenne. Vous pouvez solliciter une copie de ces documents en contactant notre délégué à la protection des données à l'adresse mail : dpo@groupebarriere.com</p>

            <li class="or-titre">Sécurité des données </li>
            <p class="text-titre">Barrière met en œuvre les moyens appropriés pour préserver la sécurité et la confidentialité des données, via des procédures physiques et logiques de protection, dont le chiffrement des données.
                Nous traitons vos données personnelles également sur des serveurs hébergés par des tiers (opérateurs de réseau ou fournisseurs de service d’infrastructure) et nous mettons en œuvre les moyens nécessaires pour sécuriser notre service.
                De même, nous imposons à nos prestataires ou sous-traitants ayant accès à vos données personnelles dans le seul cadre des Services les mêmes conditions de sécurité et de confidentialité.</p>
            <li class="or-titre">Sites et fonctionnalités tiers </li>
            <p class="text-titre">
                Notre site internet peut proposer des liens ou des fonctionnalités vers d’autres sites tiers (notamment des réseaux sociaux tiers), que nous ne possédons pas ou ne contrôlons pas. Si vous cliquez sur l’un de ces liens ou utilisez ces fonctionnalités, vous le faites sous votre responsabilité. Nous ne sommes pas responsables du contenu ou des pratiques de tout site, application ou fonctionnalité tiers.</p>

            <li class="or-titre">Conservation des données collectées </li>
            <p class="text-titre">Nous stockons vos informations pour une durée proportionnée à l’objectif pour lequel nous les traitons, pour satisfaire aux exigences légales et réglementaires et dans le respect des limites imposées par celles-ci.
                En matière de communication commerciale et marketing, vos données sont conservées pour une durée maximale de trois ans à compter de la fin de notre relation commerciale si vous êtes un client des Services de Barrière ou trois ans à compter du dernier contact de votre part si vous n'êtes pas client mais simple visiteur du site ou abonné à nos newsletters.
                Conformément à l’article L561-13 du Code monétaire et financier et au décret n° 2016-774 du 10 juin 2016 fixant le seuil de gain, vos noms et adresses sont conservées pour une durée de cinq ans à compter de la vérification.
                Les enregistrements vidéos et audios effectués dans nos casinos sont conservés pendant une durée d'un mois, sauf prolongation due à des investigations liées, notamment, à des suspicions de fraude.
                Les données concernant votre carte bancaire sont effacées de nos bases opérationnelles après la réalisation de l'opération, mais pourront être conservés en archivage pour se prémunir d’éventuelle contestation de la transaction pour une durée de 13 mois après leur collecte.
            </p>

            <li class="or-titre">Vos droits </li>
            <p class="text-titre">En application de la loi "Informatique et Libertés" du 6 janvier 1978 modifiée et du Règlement Général Sur la Protection des Données (2016/679) (le "RGPD), en tant que personne concernée, vous disposez des droits suivants :
                a) le droit d'accès aux informations personnelles que nous détenons à votre sujet;
                b) le droit de nous demander de mettre à jour ou de corriger toute information personnelle périmée ou incorrecte à votre sujet;
                c) lorsque le traitement est fondé sur votre consentement, le droit de retirer votre consentement à tout moment,
                d) le droit de vous opposer à la réception de communications commerciales.
                e) le droit à l'effacement lorsque les conditions de l'article 17 du RGPD sont remplies;
                f) le droit à la limitation du traitement lorsque les conditions de l'article 18 du RGPD sont remplies;
                g) le droit à la portabilité des données dans la mesure où les conditions de l'article 20 du RGPD sont remplies;
                h) Vous disposez d'un droit de définir des directives relatives au sort de vos données personnelles après votre décès.
                i) le droit de vous opposer au traitement des données personnelles vous concernant, dans la mesure où les conditions de l'article 21 GDPR sont remplies; et
                j) le droit de déposer une plainte auprès d'une autorité de régulation, à savoir en France la CNIL (https://www.cnil.fr/fr/plaintes);
                Vous pouvez exercer ces droits en tout temps en nous envoyant un e-mail à dpo@groupebarriere.com.</p>

            <li class="or-titre">Contacts - Coordonnées de notre Délégué à la Protection des Données (DPO)</li>
            <p class="text-titre">Si vous avez des questions ou réclamation à propos de la présente politique de confidentialité ou sur le traitement de vos données par Barrière, vous pouvez contacter le délégué à la protection des données de Barrière par email à dpo@groupebarriere.com ou à l'adresse postale suivante : GROUPE LUCIEN BARRIERE DPO, 33 Rue d'Artois à Paris (75008).
                Dans un souci de confidentialité et de protection de vos données personnelles, nous vous demandons de joindre à l’appui de votre demande copie d’un document officiel permettant de vous identifier (carte d’identité, passeport, permis de conduire). Votre demande sera alors traitée dans les meilleurs délais et en conformité avec les textes applicables.</p>
        </ol>

    </div>


{% endblock %}


