.alert{ /* centrer message alerte */

    text-align: center;

}

#form{

    margin-bottom: -70%;

}

.bg-light{

    background: none !important;
}

.barre-doree {   /* manipuler la barre au dessus du # */

    height: 2px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -1%;
    margin-bottom: 2%;
    background-color: #D2A53E;

}

.display-4{ /* Titre enregistrez vous */

    font-family: Lato;
    font-size: 7vh;
    margin-bottom: 2%;

}

.required{ /* nom des champs */

    font-family: Lato;
    font-weight: 500;
    font-size: 2.3vh;
    margin-bottom: 2%;
    margin-top: 3%;
}


.form-group{ /* champs */

    color: #D2A532;

}

#form_telephone{ /* me permet de manier telephone champs pour creer un espace entre lui meme et le bouton inscription */

    margin-bottom: 10%;

}

.btn-primary {  /* bouton inscription */

    font-family: Lato;
    font-weight: 500;
    font-size: 2.8vh;
    border: 1px solid #D2A532;
    border-radius: 26px !important;
    background-color: #D2A532;
    width: 172px !important;
    display: block;
    margin : auto;
    margin-top: 13%;

}


.btn-primary:hover {  /* survol bouton inscription */

    font-family: Lato;
    font-weight: 500;
    font-size: 2.8vh;
    border: 1px solid #D2A532;
    border-radius: 26px !important;
    background-color: #D2A532;
    width: 172px !important;
    display: block;

}



.py-5{ /* pour gerer le formulaire */

    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: -15%;
}


.form-group {  /* regroupe les class des champs */

    margin-top: 1rem;

}

.badge-danger { /* color de mon badge error si besoin est */

    color: red;

}

.ck .ck-content { /* modifier taille area description */

    height: 200px;
}
