/****/

.concept-section1{ /*positionnement iframe */

    margin-top: -5%;

}

.concept-section1 h4{ /*police du titre h4*/

    font-family: lato;
    font-weight: 900;
    color: black;
    font-size: 6.5vh;

}


@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre Notre Concept en dessous de 992 */

    .concept-section1 h4{

        font-size: 3.5vh;

    }

}

.concept-section1 .row { /*margin top  pour ne pas coller le header*/

    margin-left: 8%;
    margin-top: 10%;

}

#services{ /* manier bloc service */

    margin-top: 5%;

}

.concept-img {  /*pour centrer l'img'*/

    text-align: center;

}

.concept-img img{ /*mettre image a 100%*/

    width: 100%;

}


/***SERVICE **/

.pt-100 { /*******************SERVICE ****************/

    padding-top: 3%; /*padding pour ne pas coller le haut de la div qui l'entoure*/

}
.pb-100 {  /*padding pour ne pas coller le haut de la div qui l'entoure*/

    padding-bottom: 100px;

}

.services-area {  /*espace entre le titre service et les servivces*/

    background-color: #f6f6f6;

}

.section-title {   /* espace entre titre service et les services */

    margin-bottom: 60px;

}

.section-title p {  /* manier le paragraphe les services */

    font-family: lato;
    color: #777;
    font-size: 16px;
}

.section-title h4 { /* titre de la section Nos services */

    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre nos services en dessous de 992 */

    .section-title h4 {

        font-size: 3.5vh;

    }

}

iframe{ /* permet de manipuler la video */

    height: 14%;
    width: 65%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;
    margin-bottom: 15%;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* manier iframe en dessous de 992 */


   .video{ /* permet de manipuler la video */

        height: 4% !important;
        width: 65% !important;

    }

}

.single-service {  /* gerer les encadrer des services */

    padding: 30px 10px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;

}

.single-service h4 { /*la modification des titres h4*/

    font-family: Lato;
    font-weight: 900;
    font-size: 2.2vh;
    text-transform: uppercase;
    margin-bottom: 10px;

}

button { /* pour le boutton en savoir plus*/

    background:#D2A53E;
    color: #ffff;
    border: none;
    padding: 12px;

}

h4 { /* le titre de la section */

    font-family: lato;
    margin: 10px;
    padding: 15px;

}


.image{  /* pour manier les images de services */
    width: 252%;
    height: auto;

}

.image-concept{ /* image concept */

    width: 80%;
    height: auto;
    margin-bottom: 13%;

}

.text-muted{

    margin-left: 4%;
    margin-right: 10%;

}
.video-section p {   /* manier titre l'Essentiel */

    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    margin-top: 6%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;


}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre essentiel en dessous de 992 */

    .video-section p {

        font-size: 3.5vh;

    }

}


.hashtag {  /* manier #Le palace canin hashtag */

    font-family: lato;
    font-weight: 600;
    font-size: 2.5vh;
    color: #626262;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 65px;

}


@media screen and (min-width: 200px) and (max-width: 992px) { /* manier hstag palace en dessous de 992 */

    .hashtag {  /* manier #Le palace canin hashtag */

        font-size: 2vh;
        margin-top: 1% !important;
        margin-bottom: 10% !important;

    }

}


.barre-service{

    height: 2px;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.2%;
    margin-bottom: 6%;
    background-color: #D2A53E;

}

.barre-doree{ /* nouvelle barre dorée adapté a NOS SERVICES */

    height: 2px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.2%;
    margin-bottom: 4%;
    background-color: #D2A53E;

}


.text-insta{
    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    margin-top: 6%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre INSTA en dessous de 992 */


    .text-insta{

        font-size: 3.5vh;

    }

}