/****/

.concept-section1{ /*positionnement iframe */

    margin-top:-15%;
    padding: 5%;

}

.concept-section1 h4{ /*police du titre h4*/

    font-family: lato;
    font-weight: 900;
    color: black;
    font-size: 6.5vh;

}


@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre Notre Concept en dessous de 992 */

    .concept-section1 h4{

        font-size: 3.5vh;

    }

}

.concept-section1 .row { /*margin top  pour ne pas coller le header*/

    margin-top: 13%;

}

.concept-img {  /*pour centrer l'img'*/

    text-align: center;

}

.concept-img img{ /*mettre image a 100%*/

    width: 100%;

}


/***SERVICE **/

.pt-100 { /*******************SERVICE ****************/

    padding-top: 3%; /*padding pour ne pas coller le haut de la div qui l'entoure*/

}
.pb-100 {  /*padding pour ne pas coller le haut de la div qui l'entoure*/

    padding-bottom: 100px;

}

.services-area {  /*espace entre le titre service et les servivces*/

    background-color: #f6f6f6;

}

.section-title {   /* espace entre titre service et les services */

    margin-bottom: 60px;

}

.section-title p {  /* manier le paragraphe les services */

    font-family: lato;
    color: #777;
    font-size: 16px;
}

.section-title h4 { /* titre de la section Nos services */

    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre nos services en dessous de 992 */

    .section-title h4 {

        font-size: 3.5vh;

    }

}

iframe{ /* permet de manipuler la video */

    height: 14%;
    width: 65%;
    display:block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 6%;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* manier iframe en dessous de 992 */


    .video{ /* permet de manipuler la video */

        height: 4% !important;
        width: 65% !important;

    }

}

.single-service {  /* gerer les encadrer des services */

    padding: 30px 10px;
    position: relative;
    text-align: center;
    margin-bottom: 30px;

}

.single-service h4 { /*la modification des titres h4*/

    font-family: Lato;
    font-weight: 900;
    font-size: 2.2vh;
    text-transform: uppercase;
    margin-bottom: 10px;

}

button { /* pour le boutton en savoir plus*/

    background:#D2A53E;
    color: #ffff;
    border: none;
    padding: 12px;

}

h4 { /* le titre de la section */

    font-family: lato;
    margin: 10px;
    padding: 15px;

}


.image{  /* pour manier les images de services */
    width: 252%;
    height: auto;

}


.video-section p {   /* manier titre l'Essentiel */

    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    margin-top: 6%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;


}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre essentiel en dessous de 992 */

    .video-section p {

        font-size: 3.5vh;

    }

}

/* DEBUT RECTANGLE */

.rectangle{  /* encadré noir */

    width: 80%;
    height: 350px;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #898686;

}


@media screen and (min-width: 200px) and (max-width: 1500px) { /* reduire carré noir en dessous de 1200 */

    .rectangle { /* encadré noir */

        height: 250px;

    }
}

.confiance{  /* phrase ILS NOUS FONT CONFIANCE */

    font-family: Raleway;
    font-weight: 400;
    font-size: 6vh;
    margin-left: 25%;
    text-transform: uppercase;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* manier iframe en dessous de 992 */


    .confiance{  /* phrase ILS NOUS FONT CONFIANCE */

        font-size: 2.1vh;

    }


}

.confiances{ /* pour gerer hauteur ILS NOUS FONT CONFIANCE car on pouvait pas dans la span du dessus */

    margin-top: 5%;

}

.logo-index{ /* logo PAW */

    width: 40%;
    height: auto;
    margin-left: 50%;

}

.image-concept{  /* PHOTO CONCEPT */

    width: 110%;
    height: auto;

}

.text-muted{ /* texte notre concept */

    padding-left: 10%;
    padding-right: 10%;
    margin-left: -5%;

}

.image-services{  /* PHOTO SERVICE */

    width: 90%;
    height: auto;

}


.parent-image-entreprise{  /* parent image entreprise */

    padding-left: 7%;
    padding-right: 14%;

}

.image-entreprise{ /* tolgate image entreprise */

    width: 58%;
    height: auto;
    margin-top: 16%;
    display: block;


}

.image-entreprise1{ /* leading image entreprise */

    width: 58%;
    height: auto;
    margin-top: 10%;
    display: block;

}

.image-entreprise2{ /* forbes image entreprise */

    width: 58%;
    height: auto;
    margin-top: 20%;
    display: block;

}


@media screen and (min-width: 200px) and (max-width: 992px) { /* manier iframe en dessous de 992 */


    .image-entreprise{ /* tolgate image entreprise */

        width: 20%;
        height: auto;
        margin-top: 18.5%;
        position: absolute;
        margin-left: 22%;

    }

    .image-entreprise1{ /* leading image entreprise */

        width: 20%;
        height: auto;
        margin-top: 16.5%;
        position: absolute;
        margin-left: -3%;

    }

    .image-entreprise2{ /* forbes image entreprise */

        width: 20%;
        height: auto;
        margin-top: 20%;
        position: absolute;
        margin-left: 47%;

    }
}

/* FIN RECTANGLE */

.hashtag {  /* manier #Le palace canin hashtag */

    font-family: lato;
    font-weight: 600;
    font-size: 2.5vh;
    color: #626262;
    margin-top: 60px;
    text-align: center;
    margin-bottom: 65px;

}


@media screen and (min-width: 200px) and (max-width: 992px) { /* manier hstag palace en dessous de 992 */

    .hashtag {  /* manier #Le palace canin hashtag */

        font-size: 2vh;
        margin-top: 1% !important;
        margin-bottom: 10% !important;

    }

}


.barre-service{

    height: 2px;
    width: 55%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.2%;
    margin-bottom: 6%;
    background-color: #D2A53E;

}

.barre-doree{ /* nouvelle barre dorée adapté a NOS SERVICES */

    height: 2px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.2%;
    margin-bottom: 4%;
    background-color: #D2A53E;

}


.text-insta{
    font-family: Lato;
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    margin-top: 6%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    text-align: center;

}

@media screen and (min-width: 200px) and (max-width: 992px) { /* gerer taille titre INSTA en dessous de 992 */


    .text-insta{

        font-size: 3.5vh;

    }

}