{% extends "base.html.twig" %}

{% block body %}

<!-- DEBUT HEADER -->

<footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-6">
                <h3>Palace Canin</h3>
                <p class="description">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem nam sed nostrum autem eveniet labore illum, voluptatibus ratione quae possimus cumque ullam id ex at placeat repudiandae quasi atque explicabo?
                </p>

            </div>



            <div class="col-lg-4">
                <h3>Ou nous trouver</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.6037205336725!2d2.3024096157624276!3d48.86576657928823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fdc9500b9a9%3A0x411c1baafb72ac94!2s12%20Avenue%20Montaigne%2C%2075008%20Paris!5e0!3m2!1sfr!2sfr!4v1614327456646!5m2!1sfr!2sfr" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

                <div class="contact">
                    <span>Adresse : 12 Avenue de Montaigne, 75008 Paris</span>
                    <span>Telephone : +33 1 52 45 89</span>
                    <span>Email: palacecanin@gmail.com</span>
                    <span>Distance de l'aéroport : 35KM/ 21 miles</span>
                </div>
            </div>

        </div>
    </div>
    <div class="copyright text-center">
        <div class="copyright">
            <span> Copyright &copy; 2021 All right reserved </span>
            <a href="#"><span> Termes et conditions</span></a>

            <a href="#"><span> Politique de Confidentialité</span></a>
        </div>
    </div>
</footer>

<!-- FIN FOOTER -->

{% endblock %}